---
layout: default
---

{% include menu.html %}

<div class="parallax-container- parallax-full-height" data-parallax data-pos-x="center" data-pos-y="40%" data-src="img/Bandeau-2018_site.jpg" style="background-image: url(img/DSC_3998.jpg); background-position: center 40%; background-size: cover">
    <div class="container d-flex flex-column align-items-end h-100">
        <h1 class="mt-auto mb-3 p-3 bg-primary text-light">Le Marentin</h1>
        <p class="mb-auto p-2 bg-dark text-light">Festival d'Art de rue</p>
    </div>
</div>

 

<div id="le-programme" class="bg-primary padding-top padding-bottom text-white py-5">
    <div class="container">
        <h2>Le Programme</h2>
        <p class="text-center">Samedi 17 décembre 2016</p>
        <style>
.timeline-v .popover>.arrow{top: calc(50% - .5rem)}
        </style>
        <div class="timeline-v position-relative">
            <div style="position:absolute;top:0;bottom:0;left:0;right:50%;border-right:1px solid white"></div>
{% include programm_row.html
    hour="11h30"
    header='Ouverture des festivités <span class="badge badge-primary float-right">Chapiteau</span>'
%}
{% capture img_url %}{{site.baseurl}}/img/le_spacetacle.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="11h40"
    header='« Le Spacetacle » <span class="badge badge-primary float-right">Chapiteau</span>'
    img_url=img_url
    img_title='Le Spacetacle'
    body='<p>Spectacle vocal et musical de Zalie Bellacicco</p><p><strong>Sur réservation</strong></p>'
%}
{% include programm_row.html
    hour="12h20"
    header='Présentation du festival <span class="badge badge-info float-right">Scène musicale</span>'
    body='<p>Venez découvrir le projet derrière le festival Le Marentin.<br />Les intervenants, les partenaires, la portée du projet...</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/artemisia.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="12h45"
    header='Artemisia & Lucas <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
    body='<p>Guitare voix</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/apres_la_pluie.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="13h30"
    header='Cie après la pluie <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Danse</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/artemisia.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="14h00"
    header='Artemisia Hood <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
    body='<p>Chansons pour enfants</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/evoe.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="14h20"
    header='Mère misère <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Escola de actores « EVOÉ », Lisboa<br />Théâtre physique</p>'
%}
{% include programm_row.html
    content_position="right"
    hour="14h50"
    header='« La Chenille » <span class="badge badge-warning float-right">Déambulation</span>'
    body='<p>Déambulation rocambolesque de Yves Derrien et Marion Darcis, Compagnie Les Cordes Associées</p>'
%}
{% include programm_row.html
    hour="15h10"
    header='Trapèze à l&rsquo;aveugle <span class="badge badge-primary float-right">Chapiteau</span>'
    body='<p>Aziliz de l&rsquo;école de cirque dédale de Clown</p>'
%}
{% include programm_row.html
    content_position="right"
    hour="15h25"
    header='Conte et tissu aérien <span class="badge badge-primary float-right">Chapiteau</span>'
    body='<p>Compagnie Esperluette</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/apres_la_pluie.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="16h00"
    header='Cie après la pluie <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Danse</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/moon_swing.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="16h30"
    header='Moon Swing Trio <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
%}
{% capture img_url %}{{site.baseurl}}/img/accrobaties.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="17h10"
    header='« La Fabrique » <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Groupe acrobatique de l&rsquo;école dédale de Clown</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/moon_swing.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="17h40"
    header='Moon Swing Trio <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
%}
{% capture img_url %}{{site.baseurl}}/img/evoe.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="18h05"
    header='Mère misère <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Escola de actores « EVOÉ », Lisboa<br />Théâtre physique</p>'
%}
{% include programm_row.html
    content_position="right"
    hour="18h40"
    header='Yannig Bleinhant <span class="badge badge-info float-right">Scène musicale</span>'
    body='<p>Reprise de chansons françaises</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/bazar_acoustik.jpg{% endcapture %}
{% include programm_row.html
    hour="20h00"
    header='Bazar acoustik <span class="badge badge-danger float-right">Bar L&rsquo;inattendue</span>'
    img_url=img_url
%}
        </div>
    </div>
</div>


<div id="le-lieu" class="container padding-top">
    <h2>Le Lieu</h2>
    <address><strong>Bourg de Saint-Servais</strong><br />
        29400 Saint-servais</address>
</div>
<div id="le-lieu-map" style="height:600px"></div>
<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('le-lieu-map'), {
        center: {lat: 48.5115, lng: -4.155},
        scrollwheel: false,
        zoom: 18,
        mapTypeId: google.maps.MapTypeId.SATELLITE
    });
    var src = 'http://www.google.com/maps/d/kml?mid=1jZXzBItb9H5SriTtwt0bAidic50';
    var kmlLayer = new google.maps.KmlLayer(src, {
        preserveViewport: true,
        map: map
    });
}
</script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7ER8y8I64T8nIEYWBJcFOEGHd5Fw-Y84&callback=initMap" async defer></script>
