---
layout: default
---

<div class="parallax-container- parallax-full-height" data-parallax data-pos-x="center" data-pos-y="40%" data-src="img/2016-le_marentin-affiche.jpg" style="background-image: url(img/2016-le_marentin-affiche.jpg); background-position: center 40%; background-size: cover">
    <div class="container d-flex flex-column align-items-end h-100">

{% include menu.html %}

                <h1 class="mt-auto mb-3 p-3 bg-primary text-light">Le Marentin</h1>
                <p class="mb-auto p-2 bg-dark text-light">Festival d'Art de rue</p>

            </div>
            <div class="col-sm-4">
                <div class="text-primary text-center" style="width: 100px;height: 100px;border-radius: 100%;font-weight: bold;border: 10px solid rgba(130,33,147,.7);margin-top:50px;margin-left:50px;padding-top: 20px;line-height: 20px;background-color: rgba(255,255,255,.7);">2<sup>ème</sup><br>édition</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 text-right">
                <p style="line-height: 2em;"><a class="btn btn-info" href="#le-festival" role="button"><span class="glyphicon glyphicon-info-sign"></span> Le festival</a><br />
                    <a class="btn btn-primary" href="#le-programme" role="button"><span class="glyphicon glyphicon-bullhorn"></span> Le programme</a><br />
                    <a class="btn btn-default" href="{{site.baseurl}}/img/2016-le_marentin-affiche.jpg" target="_blank" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> L'affiche</a><br />
                    <a class="btn btn-default" href="#le-lieu" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> Le lieu</a></p>
            </div>
            <div class="col-sm-4">
                <p style="line-height: 2em;"><a class="btn btn-default" href="https://www.facebook.com/events/361946424138220/" target="_blank" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-facebook-official" aria-hidden="true"></span> Donnez votre avis</a><br />
                    <a class="btn btn-default" href="#le-marentin-2015" target="_blank" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-history" aria-hidden="true"></span> Revivez la 1<sup>ère</sup> édition</a></p>
            </div>
        </div>
        <div class="d-none d-sm-block" style="height:200px"></div>
    </div>
</div>


<div id="le-festival" class="container text-justify padding-top padding-bottom">
    <div class="row">
        <div class="col-sm-6">
            <h3>Un festival familial</h3>
            <p>Après une première édition sur une après-midi réussie en décembre 2015, qui a accueilli plus de 300 spectacteurs, nous réitérons cette expérience avec l'appui de la mairie de Saint Servais, la communauté de communes de Landivisiau, les associations et professionels locaux ainsi qu'avec la complicité du Fourneau ®.</p>
            <p class="text-center well"><a href="{{site.baseurl}}" traget="_blank"><img class="img-rounded" src="{{site.baseurl}}/img/les_cordes_associees_cie.200.jpg" alt="Compagnie Les Cordes Associées" height="40px" /></a> <a href="http://www.pays-de-landivisiau.com/" traget="_blank"><img src="{{site.baseurl}}/img/logo-communaute_communes_landivisiau.png" alt="Communauté de communes du pays de Landivisiau" height="40px" /></a> <a href="http://www.saint-servais-29.fr/" traget="_blank"><img src="{{site.baseurl}}/img/logo-saint_servais.png" alt="Mairie de Saint Servais" height="40px" /></a> <a href="https://www.facebook.com/Linattendue-946862415351374/?ref=page_internal" traget="_blank"><img src="{{site.baseurl}}/img/logo-l_inattendue.png" alt="L'inattendue - Débit de boissons" height="40px" /></a></p>
        </div>
        <div class="col-sm-6">
            <h3>Un festival gratuit</h3>
            <p>Il s'agit de recourir aux collectivités publiques et à des mécènes pour financer et investir dans le festival permettant ainsi d'en préserver la gratuité.<br />
                Le but n'étant pas de faire du profit mais de parvenir à ce que tous les acteurs du festival soient rémunérés.</p>
            <p>Pour cette seconde édition, nous faisons encore appel à vos dons afin d'atteindre cet objectif.</p>
            <p>N'hésitez pas à vous rendre aux "<span class="glyphicon glyphicon-info-sign"></span> Point info" sur le site du festival ou nous contacter directement par <a href="mailto:lescordesassociees@gmail.com" class="antispamEmail" title="Nous contacter" data-to="lescordesassociees~at~gmail.com" data-subject="[Message du site web] ">mail</a>.</p>
        </div>
    </div>
    <div class="row padding-top text-center">
        <div class="col-sm-4">
            <h3><span class="fa fa-gift fa-lg text-primary"></span> Marché de Noël</h3>
            <p>L'APE de l'école de Saint Servais organise un marché de Noël de créateurs.</p>
        </div>
        <div class="col-sm-4">
            <h3><span class="fa fa-puzzle-piece fa-lg text-primary"></span> Jeux en bois</h3>
            <p>Des jeux en bois pour le plaisir des plus petits comme des plus grands !</p>
        </div>
        <div class="col-sm-4">
            <h3><span class="fa fa-cutlery fa-lg text-primary"></span> Restauration</h3>
            <p>Petite restauration (crêpes/galettes, far, bonbons, soupe) et boissons (chaudes/froides) proposées à partir de 11h30.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-offset-2 col-sm-4">
            <h3><span class="fa fa-university fa-lg text-primary"></span> Chapiteau !</h3>
            <p>Les spectacles s'alterneront sur deux scènes dont une sous chapiteau.</p>
        </div>
        <div class="col-sm-4">
            <h3><span class="fa fa-child fa-lg text-primary"></span> La cabine des moussaillons</h3>
            <p>Une neurserie fanstaisiste sera à votre disposition pour prendre soin de vos petits moussaillons.</p>
        </div>
    </div>
</div>


<div id="le-programme" class="bg-primary padding-top padding-bottom text-white py-5">
    <div class="container">
        <h2>Le Programme</h2>
        <p class="text-center">Samedi 17 décembre 2016</p>
        <style>
.timeline-v .popover>.arrow{top: calc(50% - .5rem)}
        </style>
        <div class="timeline-v position-relative">
            <div style="position:absolute;top:0;bottom:0;left:0;right:50%;border-right:1px solid white"></div>
{% include programm_row.html
    hour="11h30"
    header='Ouverture des festivités <span class="badge badge-primary float-right">Chapiteau</span>'
%}
{% capture img_url %}{{site.baseurl}}/img/le_spacetacle.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="11h40"
    header='« Le Spacetacle » <span class="badge badge-primary float-right">Chapiteau</span>'
    img_url=img_url
    img_title='Le Spacetacle'
    body='<p>Spectacle vocal et musical de Zalie Bellacicco</p><p><strong>Sur réservation</strong></p>'
%}
{% include programm_row.html
    hour="12h20"
    header='Présentation du festival <span class="badge badge-info float-right">Scène musicale</span>'
    body='<p>Venez découvrir le projet derrière le festival Le Marentin.<br />Les intervenants, les partenaires, la portée du projet...</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/artemisia.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="12h45"
    header='Artemisia & Lucas <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
    body='<p>Guitare voix</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/apres_la_pluie.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="13h30"
    header='Cie après la pluie <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Danse</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/artemisia.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="14h00"
    header='Artemisia Hood <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
    body='<p>Chansons pour enfants</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/evoe.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="14h20"
    header='Mère misère <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Escola de actores « EVOÉ », Lisboa<br />Théâtre physique</p>'
%}
{% include programm_row.html
    content_position="right"
    hour="14h50"
    header='« La Chenille » <span class="badge badge-warning float-right">Déambulation</span>'
    body='<p>Déambulation rocambolesque de Yves Derrien et Marion Darcis, Compagnie Les Cordes Associées</p>'
%}
{% include programm_row.html
    hour="15h10"
    header='Trapèze à l&rsquo;aveugle <span class="badge badge-primary float-right">Chapiteau</span>'
    body='<p>Aziliz de l&rsquo;école de cirque dédale de Clown</p>'
%}
{% include programm_row.html
    content_position="right"
    hour="15h25"
    header='Conte et tissu aérien <span class="badge badge-primary float-right">Chapiteau</span>'
    body='<p>Compagnie Esperluette</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/apres_la_pluie.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="16h00"
    header='Cie après la pluie <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Danse</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/moon_swing.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="16h30"
    header='Moon Swing Trio <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
%}
{% capture img_url %}{{site.baseurl}}/img/accrobaties.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="17h10"
    header='« La Fabrique » <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Groupe acrobatique de l&rsquo;école dédale de Clown</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/moon_swing.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="17h40"
    header='Moon Swing Trio <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
%}
{% capture img_url %}{{site.baseurl}}/img/evoe.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="18h05"
    header='Mère misère <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Escola de actores « EVOÉ », Lisboa<br />Théâtre physique</p>'
%}
{% include programm_row.html
    content_position="right"
    hour="18h40"
    header='Yannig Bleinhant <span class="badge badge-info float-right">Scène musicale</span>'
    body='<p>Reprise de chansons françaises</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/bazar_acoustik.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="20h00"
    header='Bazar acoustik <span class="badge badge-danger float-right">Bar L&rsquo;inattendue</span>'
    img_url=img_url
%}
        </div>
    </div>
</div>


<div id="le-lieu" class="container padding-top">
    <h2>Le Lieu</h2>
    <address><strong>Bourg de Saint-Servais</strong><br />
        29400 Saint-servais</address>
</div>
<div id="le-lieu-map" style="height:600px"></div>
<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('le-lieu-map'), {
        center: {lat: 48.5115, lng: -4.155},
        scrollwheel: false,
        zoom: 18,
        mapTypeId: google.maps.MapTypeId.SATELLITE
    });
    var src = 'http://www.google.com/maps/d/kml?mid=1jZXzBItb9H5SriTtwt0bAidic50';
    var kmlLayer = new google.maps.KmlLayer(src, {
        preserveViewport: true,
        map: map
    });
}
</script>


<div id="le-marentin-2015">
    <div class="container padding-top padding-bottom">
        <h2>En 2015, Le Marentin c'était ...</h2>
        <div class="row">
            <div class="col-sm-7">
                <h3>La programmation</h3>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">14h</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">Accueil</h4>
                        <p class="list-group-item-text">Nous serons heureux de vous accueillir sur le site du festival dès 14h.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">14h15</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">Artemisia Hood "douce voice"</h4>
                        <p class="list-group-item-text">Chanson pour enfants et grands enfants!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">14h35</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">"Dluo" avec célia et Amélie</h4>
                        <p class="list-group-item-text">Acrobatie</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">14h40</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">« Ramassage Polaire » de Françoise Pillet</h4>
                        <p class="list-group-item-text">Théâtre. Association " Thé'harteloire" crée par des jeunes de Brest. Clarence sophie dany et Marceau à la mise en scène.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">15h10</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">Cécile guitare/voix et « duo chansigné » par Laurène Pailler et Clément Hascoet</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">15h35</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">« Fil de soie »</h4>
                        <p class="list-group-item-text">Duo d’escrime traditionnel par Lola Bardary et Caco</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">16h</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">"L’Accord’Heure" par la Compagnie Les Cordes Associées</h4>
                        <p class="list-group-item-text">Théâtre physique tout public dès 2 ans !</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">17h</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">« Aérao » par Lola Bardary</h4>
                        <p class="list-group-item-text">Cerceau aérien</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">17h30</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">"Le reste du temps ils font autre chose"</h4>
                        <p class="list-group-item-text">Laboratoire de la Cie après la pluie. Conception Chorégraphique Stephanie Siou.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">17h50</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">numéro d’acrobatie de l'atelier de l’école de cirque dédale de Clown</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">18h</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">« autour d’un banc »</h4>
                        <p class="list-group-item-text">Duo de jonglage/Clown avec Théo et Ivan</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-3 text-right">
                        <p><span class="badge badge-default">18h30</span></p>
                    </div>
                    <div class="col-sm-10 col-xs-9">
                        <h4 class="list-group-item-heading">« ludo songs »</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div id="marentin2015-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#marentin2015-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="1"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="2"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="3"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="4"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="5"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="6"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="7"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="8"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="9"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="10"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="11"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="12"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="13"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="14"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="15"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="16"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="17"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="18"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="19"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="20"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="21"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="22"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="23"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="24"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="25"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="26"></li>
                        <li data-target="#marentin2015-carousel" data-slide-to="27"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{{site.baseurl}}/img/DSC_3998.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4098.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4112.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4116.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4126.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4153.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4186.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4193.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4215.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4246.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4248.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4262.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4081.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4270.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4274.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4319.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4327.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4342.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4368.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4415.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4424.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4426.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4439.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4449.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4509.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4520.jpg">
                        </div>
                        <div class="item">
                            <img src="{{site.baseurl}}/img/DSC_4541.jpg">
                        </div>

                    <!-- Controls -->
                    <!-- <a class="left carousel-control" href="#marentin2015-carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#marentin2015-carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->
                </div>
                <h3>Le lieu</h3>
                <p>Les Cordes Associées avait souhaité pour cette première édition faire découvrir les capacités mais également le potentiel d'une compagnie implantée et impliquée dans la comunauté de commune de Landivisiau.<br />
                Le festival s'est donc naturellement déroulé sur le lieu de résidence de la Compagnie, au Guern Launay à Saint Servais (29400).</p>
            </div>
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7ER8y8I64T8nIEYWBJcFOEGHd5Fw-Y84&callback=initMap" async defer></script>
