---
layout: default
---

<div class="parallax-container- parallax-full-height" id="haut-de-page" data-parallax data-pos-x="center" data-pos-y="40%" data-src="img/bandeau-2018.jpg" style="background-image: url(img/bandeau-2018.jpg); background-position: center 40%; background-size: cover">
    <div class="container d-flex flex-column align-items-end h-100">

{% include menu.html %}
                                                                   
                <h1 class="mt-auto mb-3 p-3 bg-primary text-light">Le Marentin</h1>
                <p class="mb-auto p-2 bg-light text-primary">Festival d'Art de rue</p>
</div>
          
            <div class="col-sm-4">
                <div class="text-primary text-center" style="width: 100px;height: 100px;border-radius: 100%;font-weight: bold;border: 10px solid;border-color: primary; margin-top:50px;margin-left:50px;padding-top: 20px;line-height: 20px;background-color: rgba(255,255,255,.7);">3<sup>ème</sup><br>édition</div>
            
  </div>          

       
        <div class="row">
         
<div class="col-sm-8 text-right">
                <p style="line-height: 2em;">
                    <a class="btn btn-info" href="{{site.baseurl}}" role="button"><span class="fa fa-info-circle"></span> Le festival</a><br />
                    <a class="btn btn-primary" href="#le-programme" role="button"><span class="fa fa-bullhorn"></span> Le programme</a><br />
                    <a class="btn btn-default" href="{{site.baseurl}}/img/affiche-2018_V3.jpg" target="_blank" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-archive"></span> L'affiche</a><br />
                    <a class="btn btn-default" href="#le-lieu" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-map-marker"></span> Le lieu</a></p>
            </div>
            <div class="col-sm-4">
                <p style="line-height: 2em;">
                    <a class="btn btn-default" href="https://www.facebook.com/events/361946424138220/" target="_blank" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-facebook-official" aria-hidden="true"></span> Donnez votre avis <span class="fa fa-hashtag" aria-hidden="true"></span></a><br />
                    <a class="btn btn-default" href="{{site.baseurl}}/edition-2016" target="_blank" role="button" style="background:rgba(255,255,255,.7)"> Revivez la 2<sup>ème</sup> édition <span class="fa fa-history" aria-hidden="true"></span></a><br />
                    <a class="btn btn-default" href="#partenaires" role="button" style="background:rgba(255,255,255,.7)"> Les partenaires <span class="fa fa-users"></span></a><br />
                    <a class="btn btn-default" href="#revue-de-presse" role="button" style="background:rgba(255,255,255,.7)"> La revue de presse <span class="fa fa-film"></span></a></p>
                      </div>
</div> </div> 
     <div class="bg-white py-5">
           <br /></div>
<div id="le-programme" class="bg-secondary padding-top padding-bottom text-white py-5">
    <div class="container">
        <h4>Le Programme</h4>
   <div class="text-center">
        <p>Vendredi</p>
<a class="btn btn-default" href="#vendredi1" role="button" style="background:rgba(255,255,255,.7)"> 18h-20h</a>
<a class="btn btn-default" href="#vendredi2" role="button" style="background:rgba(255,255,255,.7)"> 20h-22h</a></p>
        <p>Samedi</p>
<a class="btn btn-default" href="#samedi1" role="button" style="background:rgba(255,255,255,.7)"> 11h-14h</a>
<a class="btn btn-default" href="#samedi2" role="button" style="background:rgba(255,255,255,.7)"> 14h-16h</a>
<a class="btn btn-default" href="#samedi3" role="button" style="background:rgba(255,255,255,.7)"> 16h-18h</a>
<a class="btn btn-default" href="#samedi4" role="button" style="background:rgba(255,255,255,.7)"> 18h-20h</a>
<a class="btn btn-default" href="#samedi5" role="button" style="background:rgba(255,255,255,.7)"> 20h-22h</a></p>
    </div>
        <br /><br /><br />
               <h5 class="text-center">Vendredi 14 décembre 2018</h5>
<br />
        <style>
.timeline-v .popover>.arrow{top: calc(50% - .5rem)}
        </style>
        <div class="timeline-v position-relative">
            <div style="position:absolute;top:0;bottom:0;left:0;right:50%;border-right:1px solid white"></div>
            <div id="vendredi1" > 
             
   {% capture img_url %}{{site.baseurl}}/img/logos/logo-APE.png{% endcapture %}
   {% include programm_row.html
   content_position="right"
    hour="17h30"
    header='Marché de Noël de l’APE'
     img_url=img_url
    body='<p>L’Association des Parents d’Élèves de Saint Servais organise un marché de Noël <br />  <br />
<a class="btn btn-info" href="http://www.facebook.com/APE-école-de-Saint-Servais-1235766026479687/" role="button">Page facebook</a>
</p>'

%}
                
{% include programm_row.html
    hour="18h30"
    header='Les enfants de St Servais <br />Ouverture des festivités <span class="badge badge-warning float-right">Deambulation</span>'
    body='<p>Rendez-vous au bar l’Inattendue</p>'
%}
            
            {% include programm_row.html
              content_position="right"
    hour="19h25"
    header='Présentation du festival'
    body='<p>Venez découvrir le projet derrière le festival Le Marentin.<br />Les intervenants, les partenaires, la portée du projet...</p>'
%}
            
{% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
{% include programm_row.html
      hour="19h30"
    header='« La Course du Vent » <br />Cie Poum Tchak <span class="badge badge-primary float-right">Chapiteau</span>'
    img_url=img_url
    img_title='La Course du Vent, Cie Poum Tchak'
    body='<p>Spectacle musical <br />Tous publics <br />  <br />
<a class="btn btn-info" href="https://www.facebook.com/poumtchak0/" role="button">Page facebook</a> </p>'

%}</div>
<div id="vendredi2" > 
{% capture img_url %}{{site.baseurl}}/img/affiche fgobeurs.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="21h30"
    header='« Les Gobeurs d’Enclumes » <br /> Cie Qui s’Y Colle <span class="badge badge-danger float-right">Bar L’Inattendue</span>'
    img_url=img_url
    img_title='Les gobeurs d’enclumes, Cie Qui s’Y Colle'
    body='<p>Spectacle d’improvisation <br />Tous publics<br />  <br />
<a class="btn btn-info" href="http://quisycolle.wixsite.com/quisycolle/les-gobeurs-d-enclumes-1" role="button">Site internet</a> </p>'

%}
   </div>
        </div>
        <br />
<a class="btn btn-default" href="#haut-de-page" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-sort-up"></span> Haut de page</a></p>
        <br />
        <br />
        <br />
         <div class="container">
 
       <h5 class="text-center">Samedi 15 décembre 2018</h5>
             <br />
        <style>
.timeline-v .popover>.arrow{top: calc(50% - .5rem)}
        </style>
        <div class="timeline-v position-relative">
            <div style="position:absolute;top:0;bottom:0;left:0;right:50%;border-right:1px solid white"></div>
<div id="samedi1" > 
                        {% capture img_url %}{{site.baseurl}}/img/songe1.jpg{% endcapture %}
            {% include programm_row.html
    hour="11h30"
    header=' « Le Songe du Conteur » Cie Singe Diesel <span class="badge badge-primary float-right">Chapiteau</span>'
     img_url=img_url
    img_title='Le songe du conteur, Cie Singe Diesel'
    body='<p>A partir de 5 ans <br /> Jauge limitée à 80 personnes<br />  <br />
<a class="btn btn-info" href=" http://singediesel.guilers.org/" role="button">Site internet</a> </p>'
       
%}

            {% capture img_url %}{{site.baseurl}}/img/harpe1.jpg{% endcapture %}
 {% include programm_row.html
    content_position="right"
    hour="12h30"
    header='Concert de harpe <br /> Tiphaine Escarguel <span class="badge badge-info float-right">Chapiteau Bar</span>'
    img_url=img_url
    img_title='Concert de harpe, Tiphaine Escarguel'
    body='<p><br />
<a class="btn btn-info" href=" http://tiphaine-escarguel.fr/" role="button">Site internet</a> </p>'  
   
%}</div>
    <div id="samedi2" > 
            {% include programm_row.html
    hour="14h10"
    header='Gémeaux <br />Cie Les bô jours <span class="badge badge-success float-right">Scène extérieure</span>'
    body='<p>Création 2018<br />Première expérimentation publique</p>'
%}

            {% capture img_url %}{{site.baseurl}}/img/mick1.jpg{% endcapture %}
            {% include programm_row.html
    content_position="right"
    hour="15h00"
    header='Mickaël Guerrand <span class="badge badge-info float-right">Chapiteau Bar</span>'
    img_url=img_url
    body='<p>Chanson pour enfants<br />  <br />
<a class="btn btn-info" href=" http://mickaelguerrand.com/" role="button">Site internet</a> </p>'

%}</div>
  <div id="samedi3" > 
      {% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
            {% include programm_row.html
    hour="16h10"
    header='« La Course du Vent » <br />Cie Poum Tchak <span class="badge badge-primary float-right">Chapiteau</span>'
    img_url=img_url
    img_title='La Course du Vent, Cie Poum Tchak'
    body='<p>Spectacle musical 
 <br />Tous publics <br />  <br />
<a class="btn btn-info" href="https://www.facebook.com/poumtchak0/" role="button"> Page facebook </a> </p>'
%}

            {% capture img_url %}{{site.baseurl}}/img/affiche fgobeurs.jpg{% endcapture %}
            {% include programm_row.html
    content_position="right"
    hour="17h40"
    header='« Les Gobeurs d’Enclumes » <br /> Cie Qui s’Y Colle <span class="badge badge-danger float-right">Bar L’Inattendue</span>'
    img_url=img_url
    img_title='Cie Qui s’Y Colle'
    body='<p>Spectacle d’improvisation 
  <br /> Tous publics <br />  <br />
<a class="btn btn-info" href="http://quisycolle.wixsite.com/quisycolle/les-gobeurs-d-enclumes-1" role="button"> Site internet </a> </p>'

%}
            {% capture img_url %}{{site.baseurl}}/img/harpe1.jpg{% endcapture %}
 {% include programm_row.html
    hour="17h45"
    header='Concert de harpe <br /> Tiphaine Escarguel <span class="badge badge-info float-right">Eglise</span>'
    img_url=img_url
    img_title='Concert de harpe, Tiphaine Escarguel'
    body='<p><br /> 
<a class="btn btn-info" href=" http://tiphaine-escarguel.fr/" role="button">Site internet</a> </p>'  
%}</div>
<div id="samedi4" > 
            {% capture img_url %}{{site.baseurl}}/img/bobby 2.jpg{% endcapture %}
            {% include programm_row.html
    content_position="right"
    hour="18h30"
    header='Bobby et moi <br /> Cie Poc <span class="badge badge-primary float-right">Chapiteau</span>'
    img_url=img_url
    img_title='Cie Poc'
    body='<p>Tous publics<br />  <br />
<a class="btn btn-info" href="http://compagniepoc.com/compagnie/" role="button">Site internet</a> </p>'

%}
    
     {% capture img_url %}{{site.baseurl}}/img/7786650820_disque-vinyle.jpg{% endcapture %}     
 {% include programm_row.html
    hour="19h00"
    header='DJ Younity <br /> <span class="badge badge-info float-right">Chapiteau Bar</span>'
    img_url=img_url
    body='<p>Session Mix</p>'
%}

           {% include programm_row.html
                content_position="right"
    hour="19h30"
    header='Gémeaux <br />Cie Les bô jours <span class="badge badge-primary float-right">Chapiteau</span>'
    body='<p>Création 2018<br />Première expérimentation publique</p>'
%}</div>
            
      <div id="samedi5" >             
 {% include programm_row.html
    hour="20h00"
    header='Scène ouverte <br /><span class="badge badge-info float-right">Scène Bar</span>'
    body='<p>Pour vous inscrire<br />Contactez la <a href="mailto:lescordesassociees@gmail.com" traget="_blank"> Cie Les Cordes Associées </a> </p>'

%}
     {% capture img_url %}{{site.baseurl}}/img/7786650820_disque-vinyle.jpg{% endcapture %}     
            {% include programm_row.html
    content_position="right"
    hour="20h30"
    header='DJ Younity <br /> <span class="badge badge-info float-right">Chapiteau Bar</span>'
          img_url=img_url
    body='<p>Session Mix</p>'
%}
                 {% capture img_url %}{{site.baseurl}}/img/vedette1.jpg{% endcapture %}
 {% include programm_row.html
    hour="21h00"
    header='Les Vedette <br /> Cie Une de Plus <span class="badge badge-danger float-right">Bar L’Inattendue</span>'
    img_url=img_url
    img_title='Les Vedette, Cie Une de Plus'
    body='<p><br /> 
<a class="btn btn-info" href="https://www.facebook.com/baldelesvedette/" role="button">Page facebook</a> </p>'

%}       
            
 
            
        </div>    </div>
<a class="btn btn-default" href="#haut-de-page" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-sort-up"></span> Haut de page</a></p>
    </div>
</div>
</div>

    
<div id="partenaires" class="bg-white padding-top padding-bottom text-primary py-5">
    <div class="container">
        <h4>Les partenaires</h4>
         <br />
        <br /> 
 
     <div class="row padding-top text-center">
      
          <div class="col-sm-4">
           <a href="http://www.atelier-du-garo.com/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo-atelierdugaro.png" alt="Ateliers du Garo" height="100px"/></a>
             <p>Atelier du Garo</p>
        </div>
        
          <div class="col-sm-4">
   <a href="http://www.facebook.com/APE-école-de-Saint-Servais-1235766026479687/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo-APE.png" alt="Association des parents d'élèves - Saint Servais" height="100px"/></a>
 <p>Association des parents d'élèves de Saint Servais </p>
        </div>
        
              <div class="col-sm-4">
        <a href="http://www.facebook.com/pages/category/Community/Comité-des-fêtes-de-Saint-Servais-1208940269167921" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo CDF.png" alt="Comité des Fêtes de Saint Servais" height="100px"/></a>
 <p>Comité des fêtes de Saint Servais</p>     
        </div>
         
              <div class="col-sm-4">
        <a href="https://saint-servais-29.fr/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo mairie.png" alt="Mairie de Saint Servais" height="100px"/></a>
<p>Mairie de Saint Servais</p>  
        </div>
         
              <div class="col-sm-4">
<a href="http://www.garage-bro-landi.fr/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/garage bro landi.png" alt="Garage Bro Landi" height="100px"/></a>
<p>Garage de Bro Landi</p>
        </div>
         
              <div class="col-sm-4">
       <a href="http://www.pays-de-landivisiau.com/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo-communaute_communes_landivisiau.png" alt="Communauté de Communes du Pays de Landivisiau" height="100px"/></a>
<p>Communauté de communes du Pays de Landivisiau   </p> 
        </div>     
         
         <div class="col-sm-4">
      <a href="http://www.facebook.com/pages/category/Tobacco-Store/Linattendue-946862415351374/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo-l_inattendue.png" alt="Bar L'Inattendue" height="50px"/></a>
<p>Le bar l'Inattendue</p>
        </div>
 
            <div class="col-sm-4">
 <a href="http://www.e-leclerc.com/landivisiau" traget="_blank"> <img src="{{site.baseurl}}/img/logos/leclerc.png" alt="Leclerc de Landivisiau" height="100px"/></a>
<p>Leclerc de Landivisiau</p> 
        </div>
         
              <div class="col-sm-4">
<a href="http://www.elorn-evasion.com/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo-cars-elorn.png" alt="Les Cars de l'Elorn" height="100px"/></a>
<p>Les cars de l'Elorn</p>
        </div>

      </div> 
    <a class="btn btn-primary" href="#haut-de-page" role="button"><span class="fa fa-sort-up"></span> Haut de page</a></p>

         </div> 
    
   <div id="le-lieu" class="bg-secondary padding-top padding-bottom text-white py-5">
     <div class="container">
       <h4>Le Lieu</h4>
    <address><strong>Bourg de Saint-Servais</strong><br />
        29400 Saint-servais</address>

<div id="le-lieu-map" class="text-primary" style="height:600px"></div>
<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('le-lieu-map'), {
        center: {lat: 48.5115, lng: -4.155},
        scrollwheel: false,
        zoom: 18,
        mapTypeId: google.maps.MapTypeId.SATELLITE
    });
    var src = 'http://www.google.com/maps/d/kml?mid=1jZXzBItb9H5SriTtwt0bAidic50';
    var kmlLayer = new google.maps.KmlLayer(src, {
        preserveViewport: true,
        map: map
    });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7ER8y8I64T8nIEYWBJcFOEGHd5Fw-Y84&callback=initMap" async defer></script>

       <a class="btn btn-default" href="#haut-de-page" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-sort-up"></span> Haut de page</a></p>

</div>
</div>
</div>


 <div id="revue-de-presse" class="bg-white padding-top padding-bottom text-primary py-5">
    <div class="container">    
<h4>La revue de presse</h4>
<br / >
     <div id="RP2018" class="carousel slide col-sm-12" data-ride="carousel">
      
      <ol class="carousel-indicators">
       <li data-target="#RP2018" data-slide-to="0" class="active"></li>
    <li data-target="#RP2018" data-slide-to="1"></li>
     <li data-target="#RP2018" data-slide-to="2"></li>
  
  

  </ol>

  <div class="container text-center carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="{{site.baseurl}}/img/RP-2018-1.JPG">
   <p class="position-relative z-index-1000 text-left"> Télégramme - 6 septembre 2018</p>

    </div>
    <div class="carousel-item">
      <img class="d-block" src="{{site.baseurl}}/img/RP-2018-2.JPG">
           <p class="position-relative z-index-1000 text-left"> Ouest France - 7 septembre 2018</p>

    </div>
    <div class="carousel-item">
      <img class="d-block" src="{{site.baseurl}}/img/RP-2018-3.JPG">
           <p class="position-relative z-index-1000 text-left"> Ouest France - 2 novembre 2018</p>

    </div>
    
</div>
        <a class="carousel-control-prev" href="#RP2018" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#RP2018" role="button" data-slide="next">
    <span class="carousel-control-next-icon" ></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        
 <br / >   
<h5> <span class="fa fa-ellipsis-v"></span>  École publique. Effectifs et équipe pédagogique stable</h5> 
        <span style="font-style: italic"> Saint Servais. Télégramme • jeudi 6 septembre 2018 </span> </p>
<p>L’école publique a rouvert ses portes aux 135 élèves, dirigée par Karine Cornily qui entame sa deuxième année de direction. Deux classes toutes neuves accueillent désormais les élèves de CE2-CM1 et CM1-CM2. <br / >

Côté équipe éducative, Sandrine Riou s’occupe des 24 écoliers de CM1-CM2 ; Virginie Chaffotec, des 22 élèves de CE2-CM1 ; Stéphanie Denniel, des 21 élèves de CE1-CE2 ; Aurélien Chevallier, des 17 écoliers de CP. Catherine Robic a la charge des 25 élèves de grande section, épaulée par Adeline Bellec, assistante territoriale. La classe de Karine Cornily compte 26 enfants de petite et moyenne sections, avec Angélique Bord comme Atsem. Estelle Kerbrat assurera la décharge de direction et complétera son temps en grande section de maternelle. <br / >
Le projet pédagogique sera axé sur le « Festival du Marentin », qui aura lieu en décembre sur la commune, et le 100e anniversaire de l’Armistice de 1918 sera le support d’un travail pour la classe de CE2-CM1. À noter que l’école a été retenue dans le cadre du plan « Écoles numériques rurales », et sera prochainement équipée d’un équipement informatique. </p>   
<br / >   
<a class="btn btn-primary" href="#haut-de-page" role="button"><span class="fa fa-sort-up"></span> Haut de page</a></p>

<br / >   
<h5> <span class="fa fa-ellipsis-v"></span>  Stabilité des effectifs à l'école publique</h5> 
        <span style="font-style: italic"> Saint Servais. Ouest-France • vendredi 7 septembre 2018
</span> </p>
<p>Karine Cornily entame sa deuxième année de direction à l'école publique, où elle enseigne depuis de nombreuses années. L'établissement est déjà revenu à la semaine de quatre jours, depuis septembre 2017. Et depuis décembre 2017, l'école a pris possession de deux classes neuves. Elle est en attente d'un équipement informatique après avoir été retenue dans le cadre du plan Écoles numériques rurales. <br / >
Avec un effectif de 135 élèves à la rentrée, auxquels s'ajouteront quelques nouveaux en janvier 2019, cette rentrée s'est effectuée dans la stabilité... Sandrine Riou s'occupe des 24 écoliers de CM1-CM2 ; Virginie Chaffotec, dès 22 élèves de CE2-CM1 ; Stéphanie Denniel, des 21 élèves de CE1-CE2 ; Aurélien Chevallier, des 17 écoliers de CP. Au niveau des classes maternelles, Catherine Robic est à la charge des 25 élèves de grande section, accompagnée d'Adeline Bellec en qualité d'assistante territoriale. Karine Cornily s'occupe des 26 plus jeunes enfants de l'établissement, réunis dans la classe de petite et moyenne sections, avec Angélique Bord comme Agent territorial spécialisé des écoles maternelle (Atsem). Par ailleurs, Estelle Kerbrat assurera durant l'année scolaire, la décharge de direction et complétera son temps en grande section de maternelle. <br / >
Comme les effectifs, l'équipe reste stable. L'école axera son projet pédagogique autour du Festival du Marentin, en décembre. Les élèves volontaires participeront à l'ouverture du spectacle. D'autre part, un travail sera réalisé par la classe de CE2-CM1, sur le centenaire de l'Armistice de 1918. Avec notamment une exposition dans la commune. </p>   
<br / >   
<a class="btn btn-primary" href="#haut-de-page" role="button"><span class="fa fa-sort-up"></span> Haut de page</a></p>


<br / >   
<h5> <span class="fa fa-ellipsis-v"></span>  Festival Le Marentin : atelier de construction de décors</h5> 
        <span style="font-style: italic"> Saint Servais. Ouest-France • vendredi 2 novembre 2018
</span> </p>
<p> La compagnie Les Cordes associées organise des ateliers participatifs pour préparer le festival Le Marentin. <br / >

Ce festival de spectacles vivants en espace public et gratuit, qui aura lieu les 14 et 15 décembre, au bourg, a besoin du soutien de la population. Un atelier de construction de décors a déjà eu lieu les 27 et 28 octobre, à Guern-Launay. <br / >

Un prochain rendez-vous est fixé aux 17 et 18 novembre pour un temps de partage : une heure, une demi-journée, une journée, ou même deux jours. Il y aura de quoi faire pour tout le monde : petits, grands, bricoleurs et moins bricoleurs. Ceux et celles qui ne seront pas disponibles pour les ateliers pourront toutefois apporter un soutien matériel : bois, ferraille, peinture, pinceaux, etc. <br / >

Les intéressés doivent s'inscrire auprès de l'équipe des Cordes associées. Les inscriptions permettent d'anticiper pour les quantités de café, thé, jus et autres boissons à partager avec l'équipe. <br / >

Contact : <a href="mailto:lescordesassociees@gmail.com"  traget="_blank"> lescordesassociees@gmail.com</a>. Renseignements au 06 99 26 61 91. Sur Facebook : <a href="https://www.facebook.com/festival.le.marentin/" traget="_blank"> festival.le.marentin</a>.)  </p>   
<br / >   

       
        


 <a class="btn btn-primary" href="#haut-de-page" role="button"><span class="fa fa-sort-up"></span> Haut de page</a></p>

 </div>  
