---
layout: default
---

{% include menu.html %}

<div class="parallax-container- parallax-full-height" data-parallax data-pos-x="center" data-pos-y="40%" data-src="img/DSC_3998.jpg" style="background-image: url(img/DSC_3998.jpg); background-position: center 40%; background-size: cover">
    <div class="container d-flex flex-column align-items-end h-100">
        <h1 class="mt-auto mb-3 p-3 bg-primary text-light">Le Marentin</h1>
        <p class="mb-auto p-2 bg-dark text-light">Festival d'Art de rue</p>
    </div>
</div>
        <div class="row">
            <div class="col-sm-8 text-right">
                <p style="line-height: 2em;"><a class="btn btn-info" href="#le-festival" role="button"><span class="glyphicon glyphicon-info-sign"></span> Le festival</a><br />
                    <a class="btn btn-primary" href="#le-programme" role="button"><span class="glyphicon glyphicon-bullhorn"></span> Le programme</a><br />
                    <a class="btn btn-default" href="{{site.baseurl}}/img/2015-affiche_marentin.jpg" target="_blank" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> L'affiche</a><br />
                    <a class="btn btn-default" href="#le-lieu" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> Le lieu</a></p>
             </div>
                        <div class="col-sm-4">
                <p style="line-height: 2em;"><a class="btn btn-default" href="https://www.facebook.com/events/361946424138220/" target="_blank" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-facebook-official" aria-hidden="true"></span> Donnez votre avis</a><br />
        <a class="btn btn-default" href="#partenaires" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> Les partenaires</a><br />
                    <a class="btn btn-default" href="#revue-de-presse" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> La revue de presse</a></p>
            </div>
        </div>
<div class="col-sm-5">
            <div id="marentin2015-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#marentin2015-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="1"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="2"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="3"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="4"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="5"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="6"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="7"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="8"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="9"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="10"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="11"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="12"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="13"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="14"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="15"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="16"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="17"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="18"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="19"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="20"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="21"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="22"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="23"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="24"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="25"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="26"></li>
                    <li data-target="#marentin2015-carousel" data-slide-to="27"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{site.baseurl}}/img/DSC_3998.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4098.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4112.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4116.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4126.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4153.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4186.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4193.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4215.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4246.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4248.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4262.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4081.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4270.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4274.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4319.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4327.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4342.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4368.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4415.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4424.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4426.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4439.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4449.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4509.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4520.jpg">
                    </div>
                    <div class="item">
                        <img src="{{site.baseurl}}/img/DSC_4541.jpg">
                    </div>

                <!-- Controls -->
                <!-- <a class="left carousel-control" href="#marentin2015-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#marentin2015-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </div>
         
        </div>



<div id="le-programme" class="bg-secondary padding-top padding-bottom text-white py-5">
    <div class="container">
        <h2>Le Programme</h2>
   <div class="text-center">
<a class="btn btn-default" href="#samedi2" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> 14h-16h</a>
<a class="btn btn-default" href="#samedi3" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> 16h-18h</a>
<a class="btn btn-default" href="#samedi4" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> 18h-20h</a>
    </div>
        <br /><br /><br />
               <p class="text-center">Samedi 19 décembre 2015</p>
        <style>
.timeline-v .popover>.arrow{top: calc(50% - .5rem)}
        </style>
        <div class="timeline-v position-relative">
            <div style="position:absolute;top:0;bottom:0;left:0;right:50%;border-right:1px solid white"></div>
            <div id="samedi2" > 
{% include programm_row.html
    hour="14h00"
    header='Ouverture des festivités '
    body='<p>Nous serons heureux de vous accueillir sur le site du festival dès 14h00.</p>'
%}
     {% capture img_url %}{{site.baseurl}}/img/artemisia.sm.jpg{% endcapture %}    
            {% include programm_row.html
              content_position="right"
    hour="14h15"
    header='Douce Voice <br />Artemisia Hood'
    img_url=img_url
    img_title='Douce Voice, Artemisia Hood'
    body='<p>Chansons pour enfants et grands enfants !</p>'
%}
            
{% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
{% include programm_row.html
      hour="14h35"
    header='« Dluo » <br />Célia et Amélie '
    img_url=img_url
    img_title='Dluo, Célia et Amélie'
    body='<p>Acrobatie</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
{% include programm_row.html
              content_position="right"
      hour="14h40"
    header='« Ramassage polaire » <br />Françoise Pillet '
    img_url=img_url
    img_title='Ramassage Polaire, Françoise Pillet'
    body='<p> Théâtre. <br /> Association « Thé’harteloire » créée par des jeunes de Brest. <br />Clarence, Sophie, Dany et Marceau à la mise en scène.</p>'
%}

{% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
{% include programm_row.html
      hour="15h10"
    header='« Guitare/Voix et Duo Chansigné » '
    img_url=img_url
    img_title='Guitare, voix et duo chansigné'
    body='<p> Avec Cécile, Laurène Pailler, Clément Hascoët </p>'
%}

{% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
{% include programm_row.html
                content_position="right"
    hour="15h35"
    header='« Fil de soie » <br />Lola Bardary et Caco '
    img_url=img_url
    img_title=' Fil de soie, Lola Bardary et Caco '
    body='<p> Duo d’escrime traditionnel </p>'
%}</div>
<div id="samedi3" > 
{% capture img_url %}{{site.baseurl}}/img/accordeur1.jpg{% endcapture %}
{% include programm_row.html
      hour="16h00"
    header='« L’Accord’Heure » <br />Cie Les Cordes Associées '
    img_url=img_url
    img_title='L’Accord’Heure, Cie Les Cordes Associées'
    body='<p> Théâtre physique tout public dès 2 ans ! </p>'
%}

{% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
{% include programm_row.html
              content_position="right"
      hour="17h00"
    header='« Aérao » <br />Lola Bardary '
    img_url=img_url
    img_title='Aérao, Lola Bardary'
    body='<p>Cerceau aérien</p>'
%}


{% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
{% include programm_row.html
      hour="17h30"
    header='« Le reste du temps ils font autre chose » <br />Cie Après La Pluie '
    img_url=img_url
    img_title=' Le reste du temps ils font autre chose, Cie Après La Pluie '
    body='<p> Conception chorégraphique par Stéphanie Siou</p>'
%}

{% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
{% include programm_row.html
              content_position="right"
      hour="17h50"
    header='Dédale de Clown '
    img_url=img_url
    img_title='Dédale de clown'
    body='<p>Numéro d’acrobatie de l’atelier de l’école de cirque Dédale de Clown</p>'
%}
</div>
<div id="samedi4" > 
{% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
{% include programm_row.html
      hour="18h00"
    header='« Autour d’un banc » <br />Théo et Ivan '
    img_url=img_url
    img_title=' Autour d’un banc, Théo et Ivan '
    body='<p>Duo de jonglage</p>'
%}

{% capture img_url %}{{site.baseurl}}/img/pom tchak.jpg{% endcapture %}
{% include programm_row.html
              content_position="right"
      hour="18h30"
    header=' Ludo Songs '
    img_url=img_url
    img_title='Dédale de clown'
%}</div>
            </div> 

 <div id="le-programme" class="bg-primary padding-top padding-bottom text-white py-5">
    <div class="container">
    <h2>Le Programme</h2>
           <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">14h</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">Accueil</h4>
                    <p class="list-group-item-text">Nous serons heureux de vous accueillir sur le site du festival dès 14h.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">14h15</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">Artemisia Hood "douce voice"</h4>
                    <p class="list-group-item-text">Chanson pour enfants et grands enfants!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">14h35</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">"Dluo" avec célia et Amélie</h4>
                    <p class="list-group-item-text">Acrobatie</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">14h40</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">« Ramassage Polaire » de Françoise Pillet</h4>
                    <p class="list-group-item-text">Théâtre. Association " Thé'harteloire" crée par des jeunes de Brest. Clarence sophie dany et Marceau à la mise en scène.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">15h10</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">Cécile guitare/voix et « duo chansigné » par Laurène Pailler et Clément Hascoet</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">15h35</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">« Fil de soie »</h4>
                    <p class="list-group-item-text">Duo d’escrime traditionnel par Lola Bardary et Caco</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">16h</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">"L’Accord’Heure" par la Compagnie Les Cordes Associées</h4>
                    <p class="list-group-item-text">Théâtre physique tout public dès 2 ans !</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">17h</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">« Aérao » par Lola Bardary</h4>
                    <p class="list-group-item-text">Cerceau aérien</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">17h30</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">"Le reste du temps ils font autre chose"</h4>
                    <p class="list-group-item-text">Laboratoire de la Cie après la pluie. Conception Chorégraphique Stephanie Siou.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">17h50</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">numéro d’acrobatie de l'atelier de l’école de cirque dédale de Clown</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">18h</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">« autour d’un banc »</h4>
                    <p class="list-group-item-text">Duo de jonglage/Clown avec Théo et Ivan</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-3 text-right">
                    <p><span class="badge badge-default">18h30</span></p>
                </div>
                <div class="col-sm-10 col-xs-9">
                    <h4 class="list-group-item-heading">« ludo songs »</h4>
                </div>
            </div>
        </div>
        
    </div>
</div>
     
    <div id="le-lieu" class="bg-secondary padding-top padding-bottom text-white py-5">
              <h3>Le lieu</h3>
            <p>Les Cordes Associées avait souhaité pour cette première édition faire découvrir les capacités mais également le potentiel d'une compagnie implantée et impliquée dans la comunauté de commune de Landivisiau.<br />
            Le festival s'est donc naturellement déroulé sur le lieu de résidence de la Compagnie, au Guern Launay à Saint Servais (29400).</p>
        </div>
     
    <div id="revue-de-presse" class="bg-white padding-top padding-bottom text-primary py-5">
    <div class="container">    
<h3>La revue de presse</h3>

            <div class="row padding-top text-center">

            <div class="col-sm-6">
    <img src="{{site.baseurl}}/img/RP-2015-1.JPG" alt="Ouest France" height="400px"/></a>
<p>Ouest France - 19 décembre 2015</p></div> 
                 
        <div class="col-sm-6">
    <img src="{{site.baseurl}}/img/RP-2015-2.JPG" alt="Télégramme" height="300px"/></a>
<p>Télégramme - 23 décembre 2015</p></div> 
            
                       <div class="col-sm-6">
    <img src="{{site.baseurl}}/img/RP-2015-3.JPG" alt="Ouest France" height="300px"/></a>
<p>Ouest France - 24 décembre 2015</p></div> 
     </div> 
            </div> 
