---
layout: default
---

<div class="parallax-container- parallax-full-height" data-parallax data-pos-x="center" data-pos-y="40%" data-src="img/DSC_3998.jpg" style="background-image: url(img/DSC_3998.jpg); background-position: center 40%; background-size: cover>
    <div class="container d-flex flex-column align-items-end h-100">

{% include menu.html %}
                                                                   
                <h1 class="mt-auto mb-3 p-3 bg-primary text-light">Le Marentin</h1>
                <p class="mb-auto p-2 bg-dark text-light">Festival d'Art de rue</p>

          
            <div class="col-sm-4">
                <div class="text-primary text-center" style="width: 100px;height: 100px;border-radius: 100%;font-weight: bold;border: 10px solid rgba(133,33,89,1);margin-top:50px;margin-left:50px;padding-top: 20px;line-height: 20px;background-color: rgba(255,255,255,.7);">3<sup>ème</sup><br>édition</div>
            
            
</div>
       
        <div class="row">
         
<div class="col-sm-8 text-right">
                <p style="line-height: 2em;">
                    <a class="btn btn-info" href="{{site.baseurl}}" role="button"><span class="glyphicon glyphicon-info-sign"></span> Le festival</a><br />
                    <a class="btn btn-primary" href="#le-programme" role="button"><span class="glyphicon glyphicon-bullhorn"></span> Le programme</a><br />
                    <a class="btn btn-default" href="{{site.baseurl}}/img/Bandeau-2018_site.jpg" target="_blank" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> L'affiche</a><br />
                    <a class="btn btn-default" href="#le-lieu" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> Le lieu</a></p>
            </div>
            <div class="col-sm-4">
                <p style="line-height: 2em;">
                    <a class="btn btn-default" href="https://www.facebook.com/events/361946424138220/" target="_blank" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-facebook-official" aria-hidden="true"></span> Donnez votre avis</a><br />
                    <a class="btn btn-default" href="{{site.baseurl}}/edition-2016" target="_blank" role="button" style="background:rgba(255,255,255,.7)"><span class="fa fa-history" aria-hidden="true"></span> Revivez la 2<sup>ème</sup> édition</a></p>
                    <a class="btn btn-default" href="#partenaires" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> Les partenaires</a></p>
                    <a class="btn btn-default" href="#revue-de-presse" role="button" style="background:rgba(255,255,255,.7)"><span class="glyphicon glyphicon-map-marker"></span> La revue de presse</a></p>
                      </div>
</div> 
    </div> 
</div>
<div id="le-programme" class="bg-secondary padding-top padding-bottom text-white py-5">
    <div class="container">
        <h2>Le Programme</h2>
        <p class="text-center">Vendredi 14 décembre 2018</p>
        <style>
.timeline-v .popover>.arrow{top: calc(50% - .5rem)}
        </style>
        <div class="timeline-v position-relative">
            <div style="position:absolute;top:0;bottom:0;left:0;right:50%;border-right:1px solid white"></div>
{% include programm_row.html
    hour="18h30"
    header='Ouverture des festivités <span class="badge badge-primary float-right">Chapiteau</span>'
%}
{% capture img_url %}{{site.baseurl}}/img/le_spacetacle.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="19h30"
    header='« La Course du Vent » Cie Poum Tchak <span class="badge badge-primary float-right">Chapiteau</span>'
    img_url=img_url
    img_title='Le Spacetacle'
    body='<p>Spectacle vocal et musical de Zalie Bellacicco</p><p><strong>Sur réservation</strong></p>'
%}
{% include programm_row.html
    hour="21h30"
    header='Présentation du festival <span class="badge badge-info float-right">Scène musicale</span>'
    body='<p>Venez découvrir le projet derrière le festival Le Marentin.<br />Les intervenants, les partenaires, la portée du projet...</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/artemisia.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="12h45"
    header='Artemisia & Lucas <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
    body='<p>Guitare voix</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/apres_la_pluie.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="13h30"
    header='Cie après la pluie <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Danse</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/artemisia.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="14h00"
    header='Artemisia Hood <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
    body='<p>Chansons pour enfants</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/evoe.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="14h20"
    header='Mère misère <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Escola de actores « EVOÉ », Lisboa<br />Théâtre physique</p>'
%}
{% include programm_row.html
    content_position="right"
    hour="14h50"
    header='« La Chenille » <span class="badge badge-warning float-right">Déambulation</span>'
    body='<p>Déambulation rocambolesque de Yves Derrien et Marion Darcis, Compagnie Les Cordes Associées</p>'
%}
{% include programm_row.html
    hour="15h10"
    header='Trapèze à l&rsquo;aveugle <span class="badge badge-primary float-right">Chapiteau</span>'
    body='<p>Aziliz de l&rsquo;école de cirque dédale de Clown</p>'
%}
{% include programm_row.html
    content_position="right"
    hour="15h25"
    header='Conte et tissu aérien <span class="badge badge-primary float-right">Chapiteau</span>'
    body='<p>Compagnie Esperluette</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/apres_la_pluie.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="16h00"
    header='Cie après la pluie <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Danse</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/moon_swing.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="16h30"
    header='Moon Swing Trio <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
%}
{% capture img_url %}{{site.baseurl}}/img/accrobaties.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="17h10"
    header='« La Fabrique » <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Groupe acrobatique de l&rsquo;école dédale de Clown</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/moon_swing.sm.jpg{% endcapture %}
{% include programm_row.html
    content_position="right"
    hour="17h40"
    header='Moon Swing Trio <span class="badge badge-info float-right">Scène musicale</span>'
    img_url=img_url
%}
{% capture img_url %}{{site.baseurl}}/img/evoe.sm.jpg{% endcapture %}
{% include programm_row.html
    hour="18h05"
    header='Mère misère <span class="badge badge-success float-right">Scène extérieure</span>'
    img_url=img_url
    body='<p>Escola de actores « EVOÉ », Lisboa<br />Théâtre physique</p>'
%}
{% include programm_row.html
    content_position="right"
    hour="18h40"
    header='Yannig Bleinhant <span class="badge badge-info float-right">Scène musicale</span>'
    body='<p>Reprise de chansons françaises</p>'
%}
{% capture img_url %}{{site.baseurl}}/img/bazar_acoustik.jpg{% endcapture %}
{% include programm_row.html
    hour="20h00"
    header='Bazar acoustik <span class="badge badge-danger float-right">Bar L&rsquo;inattendue</span>'
    img_url=img_url
%}
        </div>
    </div>
</div>


<div id="le-lieu" class="container padding-top">
    <h2>Le Lieu</h2>
    <address><strong>Bourg de Saint-Servais</strong><br />
        29400 Saint-servais</address>
</div>
<div id="le-lieu-map" style="height:600px"></div>
<script>
function initMap() {
    var map = new google.maps.Map(document.getElementById('le-lieu-map'), {
        center: {lat: 48.5115, lng: -4.155},
        scrollwheel: false,
        zoom: 18,
        mapTypeId: google.maps.MapTypeId.SATELLITE
    });
    var src = 'http://www.google.com/maps/d/kml?mid=1jZXzBItb9H5SriTtwt0bAidic50';
    var kmlLayer = new google.maps.KmlLayer(src, {
        preserveViewport: true,
        map: map
    });
}
</script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7ER8y8I64T8nIEYWBJcFOEGHd5Fw-Y84&callback=initMap" async defer></script>

<div id="partenaires" class="bg-secondary padding-top padding-bottom text-white py-5">
    <div class="container">
        <h3>Les partenaires</h3>
 
     <div class="row padding-top text-center">
      
          <div class="col-sm-4">
           <a href="http://www.atelier-du-garo.com/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo-atelierdugaro.png" alt="Ateliers du Garo" height="100px"/></a>
             <p>Atelier du Garo</p>
        </div>
        
          <div class="col-sm-4">
   <a href="http://www.facebook.com/APE-école-de-Saint-Servais-1235766026479687/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo-APE.png" alt="Association des parents d'élèves - Saint Servais" height="100px"/></a>
 <p>Association des parents d'élèves de Saint Servais </p>
        </div>
        
              <div class="col-sm-4">
        <a href="http://www.facebook.com/pages/category/Community/Comité-des-fêtes-de-Saint-Servais-1208940269167921" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo CDF.png" alt="Comité des Fêtes de Saint Servais" height="100px"/></a>
 <p>Comité des fêtes de Saint Servais</p>     
        </div>
         
              <div class="col-sm-4">
        <a href="http://https://saint-servais-29.fr/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo mairie.png" alt="Mairie de Saint Servais" height="100px"/></a>
<p>Mairie de Saint Servais</p>  
        </div>
         
              <div class="col-sm-4">
<a href="http://http://www.garage-bro-landi.fr/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/garage bro landi.png" alt="Garage Bro Landi" height="100px"/></a>
<p>Garage de Bro Landi</p>
        </div>
         
              <div class="col-sm-4">
       <a href="http://http://www.pays-de-landivisiau.com/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo-communaute_communes_landivisiau.png" alt="Communauté de Communes du Pays de Landivisiau" height="100px"/></a>
<p>Communauté de communes du Pays de Landivisiau   </p> 
        </div>     
         
         <div class="col-sm-4">
      <a href="http://www.facebook.com/pages/category/Tobacco-Store/Linattendue-946862415351374/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo-l_inattendue.png" alt="Bar L'Inattendue" height="50px"/></a>
<p>Le bar l'Inattendue</p>
        </div>
 
            <div class="col-sm-4">
 <a href="http://www.e-leclerc.com/landivisiau" traget="_blank"> <img src="{{site.baseurl}}/img/logos/leclerc.png" alt="Leclerc de Landivisiau" height="100px"/></a>
<p>Leclerc de Landivisiau</p> 
        </div>
         
              <div class="col-sm-4">
<a href="http://http://www.elorn-evasion.com/" traget="_blank"> <img src="{{site.baseurl}}/img/logos/logo-cars-elorn.png" alt="Les Cars de l'Elorn" height="100px"/></a>
<p>Les cars de l'Elorn</p>
        </div>
      </div> 
         </div> 
    
    
<div id="revue-de-presse" class="bg-primary padding-top padding-bottom text-white py-5">
    <div class="container">    
<h3>La revue de presse</h3>

    </div> 
    </div> 
