<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-sm-6 text-right">
                <p>&copy; Association Les Cordes Associées</p>
                <p><a href="{{site.baseurl}}/mentions-legales.html">Mentions légales</a></p>
            </div>
            <div class="col-sm-6">
                <p><a href="mailto:lescordesassociees@gmail.com" class="antispamEmail" data-to="lescordesassociees~at~gmail.com" data-subject="[Message du site web] "><span class="fa fa-envelope"></span> Contactez-nous</a></p>
                <p><a href="https://www.facebook.com/festival.le.marentin/?ref=page_internal"><span class="fa fa-facebook-official"></span> Notre Facebook</span></a></p>
            </div>
        </div>
    </footer>
</div>
