        <div class="card text-dark mx-sm-0 bs-popover-{{ include.content_position | default: 'left' }}">
            <div class="popover" style="{% if include.content_position != 'right' %}right: 0;left: auto;{% else %}left:0;right:auto;{% endif %}top:0;bottom:0;border:none;">
                <div class="arrow d-none d-sm-block" style="position: absolute;"></div>
            </div>
{% if include.header %}
            <div class="card-header clearfix pb-1">
                {{ include.header }}
            </div>
{% elsif include.header_title or include.header_badge or include.header_subtitle %}
            <div class="card-header clearfix pb-1">
    {% unless include.header_subtitle %}
        {% if include.header_badge %}
                <span class="badge badge-{{ include.header_badge_class | default: 'default' }} float-right">{{ include.header_badge }}</span>
        {% endif %}
    {% endunless %}
    {% if include.header_title %}
                <h5 class="card-title">{{ include.header_title }}</h5>
    {% endif %}
    {% if include.header_subtitle %}
        {% if include.header_badge %}
                <span class="badge badge-{{ include.header_badge_class | default: 'default' }} float-right">{{ include.header_badge }}</span>
        {% endif %}
                <h6 class="card-subtitle text-muted">{{ include.header_subtitle }}</h6>
    {% endif %}
            </div>
{% endif %}
{% if include.img_fluid and include.img_url %}
            <img class="img-fluid" src="{{ include.img_url }}" alt="{{ include.img_title }}">
{% elsif include.img_url %}
            <img class="img-fluid d-none d-sm-block d-md-block d-lg-none" src="{{ include.img_url }}" alt="{{ include.img_title }}">
{% endif %}
            <div class="card-body">
{% unless include.img_fluid %}
    {% if include.img_url %}
                <img class="float-left w-50 pr-3 mb-3 d-sm-none d-md-none d-lg-inline-block" src="{{ include.img_url }}" alt="{{ include.img_title }}">
    {% endif %}
{% endunless %}
                {{ include.body }}
            </div>
        </div>