<div class="row align-items-center">
    <div class="col-sm-2 col-lg-1 text-center">
        <p class="bg-primary m-0 mt-3 mt-sm-0">{{include.hour}}</p>
    </div>
	<div class="col clearfix{% if include.content_position != 'right' %} order-sm-first{% endif %}">
{% include programm_card.html
	content_position=include.content_position
	header=include.header
	header_title=include.header_title
	header_subtitle=include.header_subtitle
	header_badge=include.header_badge
	header_badge_class=include.header_badge_class
	img_fluid=include.img_fluid
	img_url=include.img_url
	img_title=include.img_title
	body=include.body
%}
	</div>
    <div class="col clearfix{% if include.content_position == 'right' %} order-sm-first{% endif %}">
{% set content_position2 = (include.content_position == 'right' ? 'left' : 'right') %}
{% if include.title2 or include.body2 or include.header2 or include.img_url2 %}
	{% include programm_card.html
		content_position=content_position2
		header=include.header2
		header_title=include.header_title2
		header_subtitle=include.header_subtitle2
		header_badge=include.header_badge2
		header_badge_class=include.header_badge_class2
		img_fluid=include.img_fluid2
		img_url=include.img_url2
		img_title=include.img_title2
		body=include.body2
	%}
{% endif %}
	</div>
</div>
